DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

ACCESS_TOKEN_ALGORITHM=
ACCESS_TOKEN_SECRET=
RESET_PASSWORD_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
TOKEN_LIFETIME_SECONDS=

PUBLIC_URL=
DEPLOY_ENV=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_USE_TLS=

MAX_ENERGY_DRINK_IMAGE_SIZE=