DB_USER=alexander
DB_PASSWORD=root
DB_HOST=localhost
DB_NAME=energy_drink

ACCESS_TOKEN_ALGORITHM=HS256
ACCESS_TOKEN_SECRET=ca425546428c0815a731ff9af5363c915c133448895c34d052d3e5136c312984
RESET_PASSWORD_TOKEN_SECRET=6455897c2510303e1499afb1304605e7c915c822ddb9f12b9fcb2eb756502656
VERIFICATION_TOKEN_SECRET=78ef1d587025e9750dc09b13c864c42fd0fc2a49bbe2fa989e3738e2cb86a8d6
TOKEN_LIFETIME_SECONDS=3600

PUBLIC_URL=http://localhost
ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:3000,http://127.0.0.1:3000
DEPLOY_ENV=dev

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USERNAME=energos.fun@yandex.ru
SMTP_PASSWORD=cegusekmhkmtbpct
SMTP_FROM=Energos Team <energos.fun@yandex.ru>
SMTP_USE_TLS=True